[build]
  # Entrar a la carpeta del proyecto
  base = "nebula-paas"
  
  # Construir el sitio
  command = "npm run build"
  
  # La carpeta 'dist' está justo aquí (no hay que repetir nebula-paas)
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
